/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-texto: #464646;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--cor-de-texto);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso sintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    align-items: center;
}

.menu__header {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.menu__img {
    align-self: center;
}

.menu__title {
    margin-left: .25rem;
    font-weight: 700;
    font-size: 1rem;
}

.menu__nav {
    display: flex;
    margin: 0 1rem 0 auto;
}

.menu__list {
    display: none;
}

.menu__list__item__contato a {
    color: var(--cor-de-texto);
    font-size: 14px;
    font-weight: 400;
}

/*Sessão Title*/

section.title{
    margin-top: 1rem;
}

.title__div {
    margin: 0 1rem;
}

.title__profile {
    width: 98px;
    margin: 0 0 0 1rem;
    border-radius: 50%;
}

.title__bio {
    font-weight: 700;
    font-size: 1.375rem;
}

.title__subsection {
    font-weight: 400;
    font-size: .875rem;
}

.title__network {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
}

.title__network__item a {
    color: var(--cor-de-texto);
    font-weight: 600;
    font-size: .875rem;
}

/*Sessão About*/

section.about{

}

/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
