/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    scroll-behavior: smooth;
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-texto: #464646;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--cor-de-texto);
}
ol, ul,li {
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso sintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    align-items: center;
}

.menu__header {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.menu__img {
    align-self: center;
}

.menu__title {
    margin-left: .25rem;
    font-weight: 700;
    font-size: 1rem;
}

.menu__nav {
    display: flex;
    margin: 0 1rem 0 auto;
}

.menu__list {
    display: none;
}

.menu__list__item {
    position: relative;
}

.menu__list__item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #2A7AE480;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}

.menu__list__item:hover::after {
    width: 90%;
}

.menu__list__item__contato a {
    color: var(--cor-de-texto);
    font-size: 14px;
    font-weight: 400;
}

/*Sessão Title*/

section.title{
    margin-top: 1rem;
}

.title__div {
    margin: 0 1rem;
}

.title__profile {
    width: 98px;
    margin: 0 0 0 1rem;
    border-radius: 50%;
}

.title__bio {
    font-weight: 700;
    font-size: 1.375rem;
}

.title__subsection {
    font-weight: 400;
    font-size: .875rem;
}

.title__network {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
}

.title__network__item a {
    color: var(--cor-de-texto);
    font-weight: 600;
    font-size: .875rem;
}

/*Sessão About*/

section.about {
    background-color: #EAF2FD;
}

.about__container {
    padding: 1rem;
}

.about__title {
    font-weight: 700;
    font-size: 1.375rem;
}

.about__paragraph {
    font-weight: 400;
    font-size: .875rem;
}

/* Sessão skills */

.skills {
    text-align: center;
}

.skills__title {
    font-weight: 700;
    font-size: 1.375rem;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
}

.skills__box {
    background-color: #fff;
    margin: 2rem 1rem;
    width: calc(50% - 2rem);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s ease, box-shadow .6s ease-in-out;
}

.skills__box:hover {
    transform: scale(1.05);
    box-shadow: #46464650 0 0 1.5rem .1rem;
}


.skills__name {
    font-weight: 700;
    font-size: 1rem;
    margin-top: .25rem;
}

/*Sessão Hobbies*/

section.hobbies{
    text-align: center;
}

.hobbies__title {
    font-weight: 700;
    font-size: 1.375rem;
}

.hobbies__line {
    display: flex;
    flex-wrap: wrap;
}

.hobbies__box {
    background-color: #fff;
    margin: 2rem 1rem;
    width: calc(50% - 2rem);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s ease, box-shadow .6s ease-in-out;
}

.hobbies__box:hover {
    transform: scale(1.05);
    box-shadow: #46464650 0 0 1.5rem .1rem;
}

.hobbies__name {
    font-weight: 700;
    font-size: 1rem;
}

/* Experiência Acadêmica*/

section.academic{
    text-align: center;
    background-color: #EAF2FD;
    padding: 1rem 0;
}

.academic__title {
    font-weight: 700;
    font-size: 1.375rem;
}

.academic__courses__box {
    margin: 1rem 2rem 0;
}

.academic__courses__item__img img {
    width: calc(100% - 4rem);
    max-width: 300px;
}

.academic__courses__item__title {
    font-weight: 700;
}

.academic__courses__item__subtitle {
    font-weight: 500;
    font-size: .875rem;
}



/* experiência*/

section.experience{
    text-align: center;
    padding: 1rem 0;
}

.experience__section__title {
    font-weight: 700;
    font-size: 1.375rem;
}

.experiencie__box {
    text-align: left;
    width: calc(100% - 4rem);
    margin: 1rem 2rem;
}

.experience__img {
    width: 100%;
    height: 144px;
    max-width: 752px;
}

.experience__title {
    font-weight: 700;
}

.experience__text {
    font-weight: 500;
    font-size: .875rem;
}

.experiencia__botao {
    background-color: #2A7AE4;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: .875rem;
    padding: 12px 16px;
    transition: transform .5s ease;
    margin-left: 1rem;
}

.experiencia__botao:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.experiencia__botao--repo {
    border: #2A7AE4 2px solid;
    color: #2A7AE4;
    background-color: var(--cor-de-fundo);
    padding: 10px 4px;
    margin-left: 0;
}

/*Contato*/

section.formcontato{
    text-align: center;
    padding: 2rem 0;
    background-color: #EAF2FD;
}

.formcontato__img {
    display: none;
}

.formcontato__title {
    font-weight: 700;
    font-size: 1.375rem;
}

.formcontato__subtext {
    font-weight: 500;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 2rem;
}

.form__input__box {
    position: relative;
    width: 100%;
}

.formcontato__input {
    width: calc(100% - 5rem);
    background-color: #fff;
    border: none;
    outline: none;
    border-bottom: #C8C8C8 2px solid;
    height: 56px;
    padding: 0 1rem;
    padding-left: 5rem;
    border-radius: 4px;
    color: #A2A2A2;
    transition: padding .2s ease-in-out;
}

.formcontato__input--invalido {
    border-bottom: #d12828 2px solid;
}

.formcontato__input:focus {
    border-bottom: #2A7AE4 2px solid;
    color: var(--cor-de-texto);
    padding-left: 1rem;
}

.form__label {
    position: absolute;
    color: #A2A2A2;
    font-weight: 500;
    font-size: 0.875rem;
    left: 1rem;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: left;
    transition: top .2s ease;
}

.form__label__erro {
    display: block;
    padding-top: .5rem;
    color: #d12828;
}

.form__label--textarea {
    top: 1rem;
}

.formcontato__input:focus ~ .form__label, .formcontato__textarea:focus ~ .form__label {
    top: -.8rem;
    color: var(--cor-de-texto);
}

.formcontato__textarea {
    width: calc(100% - 5rem);
    padding: 1.5rem 1rem;
    padding-left: 5rem;
    resize: none;
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: #C8C8C8 2px solid;
    color: #A2A2A2;
    transition: padding .2s ease-in-out;
}

.formcontato__textarea:focus {
    border-bottom: #2A7AE4 2px solid;
    color: var(--cor-de-texto);
    padding-left: 1rem;
}

.formcontato__botao:disabled {
    opacity: .7;
    transform: none;
}

/*footeer*/

section.footer{
    text-align: center;
}

.footer__rodape {
    font-weight: 500;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media screen and (min-width: 768px) {

/* Menu */

/*title*/
.title__div {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 2rem;
}

.title__profile {
    align-self: center;
    width: 146px;
}

.title__network {
    justify-content: flex-start;
}

/* Sobre */
.about__container {
    padding: 2rem;
}

/*Skills*/
.skills__box {
    width: calc(33.33% - 2rem);
}

/*Hobbies*/
.hobbies__box {
    width: calc(33.33% - 2rem);
}

/*Experiências acadêmicas*/
.academic__courses {
    display: flex;
}

.academic__courses__item__img {
    width: 100%;
}

/*Expeirência profissional*/
.experience__img {
    height: 320px;
}

}

/*Mobile*/
@media screen and (min-width: 1024px) {

/*Menu*/
.menu {
    padding: 2rem 8.375rem;
}

.menu__list {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu__list__item__contato {
    display: none;
}

/*Titulo*/
.title {
    margin: 0;
    padding: 2rem;
}

.title__container {
    margin-left: 5rem;
}

.title__bio {
    font-size: 3.25rem;
}

.title__subsection {
    font-size: 1.375rem;
}

.title__profile {
    width: 368px;
}

/*Sessão sobre*/
.about {
    padding: 4rem;
}

.about__container {
    width: 70%;
}
.about__title {
    font-size: 2rem;
}

/*Skills*/
.skills__title {
    font-size: 2rem;
}

.skills__box {
    width: auto;
    flex-grow: 1;
}

/*Hobbies*/
.hobbies__title {
    font-size: 2rem;
}

.hobbies__box {
    width: auto;
    flex-grow: 1;
}
 
/*Formação Acadêmica*/
.academic {
    padding: 4rem 0;
}

.academic__title {
    font-size: 2rem;
}

.academic__courses {
    display: flex;
    justify-content: center;
}

/*Experiência Profissional*/
.experience__section__title {
    font-size: 2rem;
}

.experiencie__box {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;
}

.experiencie__box--reverse {
    flex-direction: row-reverse;
}

 /*Contato*/
 .formcontato__title {
    font-size: 2rem;
 }

 .formcontato__contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 }

 .formcontato__img {
    display: block;
    border-radius: 15px;
 }

/*Footer*/

}
